<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.application">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:fitsSystemWindows="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.home.group.HandsSignActivity"></activity>
        <activity android:name=".ui.home.group.MainSignActivity" />
        <activity android:name=".ui.dashboard.LeaveActivity" />
        <activity
            android:name=".ui.home.group.GroupUserActivity"
            android:parentActivityName=".ui.home.group.GroupActivity" />
        <activity
            android:name=".ui.home.SignInActivity"
            android:parentActivityName=".ui.home.group.GroupActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".ui.home.CreateGroupActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.home.AddGroupActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.home.group.ShareGroup"
            android:parentActivityName=".ui.home.group.GroupActivity" />
        <activity android:name=".ui.home.group.GroupActivity" />
        <activity
            android:name=".ui.home.SearchGroupActivity"
            android:label="搜索群组"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".ui.home.scan.ScanActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.wx.photo.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".ui.notifications.SetItemActivity" />
        <activity
            android:name=".ui.notifications.SettingUserActivity"
            android:label="修改用户信息" />
        <activity android:name=".face.FaceRegistActivity" />
        <activity
            android:name=".ui.Register.RegisterActivity"
            android:label="@string/title_activity_register" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:fitsSystemWindows="true"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:fitsSystemWindows="true"
            android:label="@string/app_name">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".face.FaceDetectActivity" />
    </application>

</manifest>